###########################
# IntelliJ IDEA / PyCharm
###########################
.idea/
*.iml
*.iws
*.ipr
out/

###########################
# VS Code
###########################
.vscode/
.history/

###########################
# Node / ReactJS
###########################
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
dist/
build/
.env
.env.*    # e.g., .env.local, .env.production

# Next.js
.next/
out/
.vercel/

# React Native
.expo/
.expo-shared/

# Testing
coverage/
jest-html-reporters-*

###########################
# Python
###########################
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyc
*.pyd
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/
.ipynb_checkpoints
.pytest_cache/
.mypy_cache/
.dmypy.json
.cache/
.coverage
coverage.xml
htmlcov/
.tox/
.nox/
hypothesis/
pytestdebug.log

###########################
# Java
###########################
*.class
*.jar
*.war
*.ear
*.log
hs_err_pid*
*.hprof

# Maven
target/
*.mvn/

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
**/build/

# Kotlin
*.kotlin_module

# JUnit
*.ec

###########################
# OS Generated
###########################
.DS_Store
Thumbs.db

###########################
# Misc
###########################
*.pid
*.pid.lock
*.tmp
*.bak
*.swp
