@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Lato:wght@400;700&display=swap");

body {
  font-family: "Lato", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.logo-image {
  width: 60px;
  height: 64px;
}

.keycload-image {
  width: 137.5px;
  height: 91px;
}

.active-spin {
  font-size: 48px;
  margin-left: 8px;
  margin-right: 4px;
}
