@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Lato:wght@400;700&display=swap");

body {
  font-family: "Lato", serif;
  letter-spacing: 1px;
}

.adg-wrapper {
  /* border: 1px solid lightgrey; */
  border-radius: 4px;
  padding: 8px;
}
.adg-header {
  display: flex;
  flex-direction: row;
  padding: 0px;
  align-items: center;
  /* background-color: lightblue; */
  /* border: 1px solid; */
}

.adg-header-left-slot {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 8px;
  /* background-color: aquamarine; */
  /* border: 1px solid; */
}

.adg-header-right-slot {
  display: flex;
  flex-grow: 1;
  justify-content: end;
  gap: 12px;
  /* background-color: gray; */
  align-items: center;
  padding-right: 8px;
  margin-top: -8px;
  /* border: 1px solid; */
}

.active-spin {
  font-size: 48px;
  margin-left: 8px;
  margin-right: 4px;
}

.adg-filter {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  background-color: rgb(234, 230, 223, 0.4);
}
.adg-filter-body {
  border-radius: 8px;
  width: 800px;
  background-color: white;
}
.adg-filter-title {
  display: flex;
  flex-direction: row;
  height: 48px;
  gap: 8px;
  padding: 4px 4px 4px 12px;
  left: 0;
  align-items: center;
}

.adg-filter-toolbar {
  display: flex;
  flex-direction: row;
  height: 56px;
  bottom: 0;
  left: 0;
  justify-content: end;
  gap: 8px;
  padding: 8px;
}
.adg-filter-view {
  padding: 8px 12px 16px 12px;
}

.adg-filter-form {
  display: flex;
  flex-direction: row;
  height: 68px;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 8px;
}

.adg-filter-view table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.adg-filter-view td,
th {
  border: 1px solid #ebe5e5;
  text-align: left;
  padding: 4px;
}

/* -------------------------------------------------------------------------------------------------------- */

.btn-test {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px;
}

.active {
  background: white;
  border-radius: 9999px;
  color: #073455;
}

.entity-table-wrapper {
  flex-grow: 1;
  height: 720px;
  overflow: auto;
  scrollbar-color: #006064 rgb(240, 240, 240);
  scrollbar-width: thin;
}